<div class="card">
    <div class="card-header text-primary">
        <b class="bi bi-question-octagon-fill"> HỎI ĐÁP</b>
    </div>
    <div class="card-body">
       <div class="row">
           <div class="col">
            <div class="form-group">
                <textarea ng-model="noiDung" class="w-100" name="question" id="question" cols="126" rows="5" placeholder="Nhập câu hỏi tại đây"></textarea>
            </div>
           </div>
       </div>
    </div>
    <div class="card-footer">
        <button ng-click="btnSendMail()" class="btn btn-success">Gửi</button>
    </div>
</div>