<form action="" method="post">
    <div class="card">
        <div class="card-header text-primary">
            <b class="bi bi-file-person-fill"> CẬP NHẬT TÀI KHOẢN</b>
        </div>
        <div class="card-body pt-0">
            <div ng-show="messRp" class="col-12 px-3 mt-3"><b class="d-block alert alert-danger">{{messRp}}</b></div>
            <div class="row">
                <div class="form-group col-12 col-md-6">
                    <label class="text-uppercase mt-2">Tên tài khoản:</label>
                    <input type="text" class="form-control" ng-model="usernameRp" readonly>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label class="text-uppercase mt-2">Mật khẩu hiện tại:</label>
                    <input type="password" class="form-control" ng-model="passRp" readonly>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12 col-md-6">
                    <label class="text-uppercase mt-2">Họ và tên:</label>
                    <input type="text" class="form-control" ng-model="fnameRp">
                </div>
                <div class="form-group col-12 col-md-6">
                    <label class="text-uppercase mt-2">Email:</label>
                    <input type="text" class="form-control" ng-model="emailRp">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12 col-md-6">
                    <label class="text-uppercase mt-2">Ngày Sinh:</label>
                    <input type="date" class="form-control" ng-model="birthday">
                </div>
                <div class="form-group col-12 col-md-6">
                    <label class="text-uppercase mt-2">Giới tính:</label>
                    <div class="border p-2 pt-1 rounded-2">
                        <label class="d-inline-block me-3">
                          <input ng-model="gender" value="true" name="gender" type="radio" class="form-check float-start me-2" required ng-checked="gender == true">
                          <span>Nam</span>
                        </label>
                        <label class="d-inline-block">
                          <input ng-model="gender" value="false" name="gender" type="radio" class="form-check float-start me-2" required ng-checked="gender == false">
                          <span>Nữ</span>
                        </label>
                      </div>
                </div>
            </div>

        </div>
        <div class="card-footer text-muted">
            <button class="btn btn-success" ng-click="update()" type="button">Cập nhật</button>
        </div>
    </div>
</form>