<div class="card">
    <div class="card card-header text-primary">
        <b class="bi bi-book-half">
            {{title}}
        </b>
    </div>
    <div class="card card-body rounded-0">
        <span>
            <b>Câu {{stt + 1}}:</b><br/> {{quest.text}}
        </span>
        <hr class="my-3">
        <form name="testing">
            <label ng-repeat="item in quest.answers" class="d-block bg-light rounded border border-info mb-2 mt-1 p-1">
                <input ng-click="pick(item.id)" ng-model="chAnswer" name="answer" type="radio" value="{{item.id}}"/>
                {{item.text}}
            </label>
        </form>
    </div>
    <div class="card card-footer bg-white">
        <div ng-hide="ched" class="pagination justify-content-center border border-info rounded p-2 mt-2 bg-light">
            <button onclick="alert('Chưa chọn đáp án')" class="page-link border mx-2 bi bi-arrow-left-circle-fill" type="button"></button>
            <button onclick="alert('Chưa chọn đáp án')" class="page-link border mx-2 bi-arrow-right-circle-fill" type="button"></button>
        </div>
        <div ng-show="ched" class="pagination justify-content-center border border-info rounded p-2 mt-2 bg-light">
            <button ng-click="prevQuest()" class="page-link border mx-2 bi bi-arrow-left-circle-fill" type="button"></button>
            <button ng-click="nextQuest()" class="page-link border mx-2 bi-arrow-right-circle-fill" type="button"></button>
        </div>
    </div>
</div>

<div class="border-info rounded p-2 mt-2 bg-light">
    <div class="card card-header text-primary">
        <b class="bi bi-book-half">
            Đáp án đã chọn
        </b>
    </div>
    <table class="table table-bordered table-hover w-100">
        <thead>
            <tr>
                <th>stt</th>
                <th>Câu hỏi</th>
                <th>Câu trả lời</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pi in pickShow">
                <td>{{pi.stt + 1}}</td>
                <td>{{pi.text}}</td>
                <td>{{pi.pick_answer.text}}</td>
                <td><button class="btn btn-primary" type="button" ng-click="rework(pi.stt)">Làm lại</button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    Ấn vào kết thúc kiểm tra để xem đáp án và lưu kết quả vào lịch sử
                </td>
            </tr>
        </tfoot>
    </table>
    <button ng-click="finishTest()" class="btn btn-success border mx-2" type="button">Kết thúc kiểm tra</button>
</div>